In [34]:
import pandas as pd

In [22]:
data = pd.read_csv("Watches.csv", sep=',', index_col=0)

/var/folders/5l/z6rnf8l15k39szbmw31329140000gn/T/ipykernel_17019/3132222041.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Watches.csv", sep=',', index_col=0)

In [23]:
data

,name,price,brand,model,ref,mvmt,casem,bracem,yop,cond,sex,size,condition
0,Audemars Piguet Royal Oak Offshore Chronograph...,"$43,500",Audemars Piguet,Royal Oak Offshore Chronograph,26237ST.OO.1000ST.01,NaN,NaN,NaN,2019,Unworn,Men's watch/Unisex,42 mm,NaN
1,Audemars Piguet Royal Oak Selfwinding\n39mm Bl...,"$71,500",Audemars Piguet,Royal Oak Selfwinding,15300ST.OO.1220ST.02,NaN,NaN,NaN,2012,Very good,Men's watch/Unisex,39 mm,NaN
2,Audemars Piguet Royal Oak Chronograph\nBlue Di...,"$79,191",Audemars Piguet,Royal Oak Chronograph,26331ST,Automatic,Steel,Steel,Unknown,Unworn,NaN,41 mm,NaN
3,Audemars Piguet Royal Oak Chronograph\nSelfwin...,"$108,000",Audemars Piguet,Royal Oak Chronograph,26715ST.OO.1356ST.01,Automatic,Steel,Steel,2022 (Approximation),New,Men's watch/Unisex,38 mm,NaN
4,Audemars Piguet Royal Oak Offshore Chronograph...,"$27,500",Audemars Piguet,Royal Oak Offshore Chronograph,26170ST.OO.1000ST.01,Automatic,Steel,Steel,Unknown,Very good,Men's watch/Unisex,42 x 54 mm,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6438,Zenith Defy El Primero\n21 TITANIUM 95.9000.90...,"$9,790",Zenith,Defy El Primero,95.9000.9004/78.M9000,NaN,NaN,NaN,2022,Very good,Men's watch/Unisex,44 mm,NaN
6439,Zenith Chronomaster Sport\n41mm White 03.3100....,"$8,450",Zenith,Chronomaster Sport,03.3100.3600/69.M3100,NaN,NaN,NaN,2021 (Approximation),Very good,Men's watch/Unisex,41 mm,NaN
6440,Zenith El Primero\n50th Anniversary A386 Limited,"$16,500",Zenith,El Primero,30.A386.400/69.C807,NaN,NaN,NaN,2019,Very good,Men's watch/Unisex,38 mm,NaN
6441,Zenith Chronomaster Sport\nWhite Dial Chronogr...,"$9,000",Zenith,Chronomaster Sport,03.3100.3600/69.M3100,NaN,NaN,NaN,2021,Unworn,Men's watch/Unisex,41 mm,NaN
6442,Zenith El Primero Chronomaster\n03.2040.400/69...,"$6,833",Zenith,El Primero Chronomaster,NaN,Automatic,Steel,Leather,2019,Very good,NaN,42 mm,NaN

In [33]:
data.isna().sum() / data.shape[0]

name         0.255140
price        0.001427
brand        0.000460
model        0.107090
ref          0.151681
mvmt         0.691358
casem        0.577421
bracem       0.614768
yop          0.000471
cond         0.267098
sex          0.336759
size         0.082945
condition    0.748431
dtype: float64

In [49]:
data2 = pd.read_csv("luxury_watch.csv", sep=",")

In [50]:
data2

,Brand,Model,Case_Material,Strap_Material,Movement_Type,Water_Resistance,Case_Diameter,Case_Thickness,Band_Width,Dial_Color,Crystal_Material,Complications,Power_Reserve,Price
0,Rolex,Submariner,Stainless Steel,Stainless Steel,Automatic,300 meters,40.0,13.00,20.0,Black,Sapphire,Date,48 hours,"9,500"
1,Omega,Seamaster,Titanium,Rubber,Automatic,600 meters,43.5,14.47,21.0,Blue,Sapphire,Date,60 hours,"5,800"
2,Tag Heuer,Carrera,Stainless Steel,Leather,Automatic,100 meters,41.0,13.00,20.0,White,Sapphire,Chronograph,42 hours,"4,200"
3,Breitling,Navitimer,Stainless Steel,Stainless Steel,Automatic,30 meters,43.0,14.25,22.0,Black,Sapphire,Chronograph,70 hours,"7,900"
4,Cartier,Tank Solo,Stainless Steel,Leather,Quartz,30 meters,31.0,6.05,20.0,Silver,Sapphire,NaN,NaN,"2,800"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,Breguet,Classique,18k Rose Gold,Leather,Automatic,30 meters,38.5,8.25,20.0,White,Sapphire,Date,38 hours,"21,500"
503,Blancpain,Fifty Fathoms,Stainless Steel,Fabric,Automatic,300 meters,45.0,15.50,23.0,Black,Sapphire,Date,120 hours,"13,500"
504,Longines,Master Collection,Stainless Steel,Leather,Automatic,30 meters,38.5,9.70,20.0,Blue,Sapphire,Date,64 hours,"1,800"
505,Vacheron Constantin,Overseas,Stainless Steel,Stainless Steel,Automatic,150 meters,41.5,11.00,22.0,Blue,Sapphire,Date,40 hours,"19,000"
506,Frederique Constant,Classics,Stainless Steel,Leather,Automatic,50 meters,40.0,10.60,20.0,Silver,Sapphire,Date,38 hours,"1,200"

In [43]:
cond_left = ['brand','model']
cond_right = ['Brand','Model']
result = pd.merge(left=data, right=data2, how='left',left_on=cond_left, right_on=cond_right)

In [51]:
result

,name,price,brand,model,ref,mvmt,casem,bracem,yop,cond,...,Movement Type,Water Resistance,Case Diameter (mm),Case Thickness (mm),Band Width (mm),Dial Color,Crystal Material,Complications,Power Reserve,Price (USD)
0,Audemars Piguet Royal Oak Offshore Chronograph...,"$43,500",Audemars Piguet,Royal Oak Offshore Chronograph,26237ST.OO.1000ST.01,NaN,NaN,NaN,2019,Unworn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Audemars Piguet Royal Oak Selfwinding\n39mm Bl...,"$71,500",Audemars Piguet,Royal Oak Selfwinding,15300ST.OO.1220ST.02,NaN,NaN,NaN,2012,Very good,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Audemars Piguet Royal Oak Chronograph\nBlue Di...,"$79,191",Audemars Piguet,Royal Oak Chronograph,26331ST,Automatic,Steel,Steel,Unknown,Unworn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Audemars Piguet Royal Oak Chronograph\nSelfwin...,"$108,000",Audemars Piguet,Royal Oak Chronograph,26715ST.OO.1356ST.01,Automatic,Steel,Steel,2022 (Approximation),New,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Audemars Piguet Royal Oak Offshore Chronograph...,"$27,500",Audemars Piguet,Royal Oak Offshore Chronograph,26170ST.OO.1000ST.01,Automatic,Steel,Steel,Unknown,Very good,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650623,Zenith El Primero\n50th Anniversary A386 Limited,"$16,500",Zenith,El Primero,30.A386.400/69.C807,NaN,NaN,NaN,2019,Very good,...,Automatic,100 meters,38.0,12.50,20.0,Silver,Sapphire,Chronograph,50 hours,"7,000"
650624,Zenith El Primero\n50th Anniversary A386 Limited,"$16,500",Zenith,El Primero,30.A386.400/69.C807,NaN,NaN,NaN,2019,Very good,...,Automatic,100 meters,42.0,12.75,22.0,Silver,Sapphire,Chronograph,50 hours,"7,500"
650625,Zenith El Primero\n50th Anniversary A386 Limited,"$16,500",Zenith,El Primero,30.A386.400/69.C807,NaN,NaN,NaN,2019,Very good,...,Automatic,100 meters,38.0,12.45,20.0,Silver,Sapphire,Chronograph,50 hours,"6,200"
650626,Zenith Chronomaster Sport\nWhite Dial Chronogr...,"$9,000",Zenith,Chronomaster Sport,03.3100.3600/69.M3100,NaN,NaN,NaN,2021,Unworn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
650627,Zenith El Primero Chronomaster\n03.2040.400/69...,"$6,833",Zenith,El Primero Chronomaster,NaN,Automatic,Steel,Leather,2019,Very good,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
result.isna().sum() / result.shape[0]

name                   0.201276
price                  0.001001
brand                  0.000201
model                  0.046826
ref                    0.138678
mvmt                   0.652342
casem                  0.562257
bracem                 0.606164
yop                    0.000206
cond                   0.212137
sex                    0.294834
size                   0.080688
condition              0.801582
Brand                  0.352842
Model                  0.352842
Case Material          0.352842
Strap Material         0.352842
Movement Type          0.352842
Water Resistance       0.352842
Case Diameter (mm)     0.352842
Case Thickness (mm)    0.352842
Band Width (mm)        0.352842
Dial Color             0.352842
Crystal Material       0.352842
Complications          0.422198
Power Reserve          0.353669
Price (USD)            0.352842
dtype: float64